[general]
import = [
    "/usr/share/alacritty/themes/solarized_light.toml"
]

[window]
dynamic_title = true

[colors.primary]
# foreground = '#42575f'

[font]
normal = { family = "UbuntuMonoNerdFont", style = "Regular" }
size = {{if .hidpi}}16{{else}}12{{end}}

[cursor]
style = { shape = "Block" }
vi_mode_style = { shape = "Block" }

[keyboard]
bindings = [
  { key = "Q", mods = "None", mode = "Vi", action = "ToggleViMode" },
  # TODO: can this be disabled during selection?
  # { key = "Escape", mods = "None", mode = "Vi|~Search", action = "ToggleViMode" }
]


[terminal]
osc52 = "CopyPaste"
